.fontlabel {
      color: var(--bgColor);
      background-color: var(--mainColor);
      padding: 0.5rem;
      margin: 0.2rem;
      border-radius: 1.4rem;
      font-size: 0.8rem;
       	font-family : inherit;
      border-color: var(--bgColor);
      border: none;
      opacity: 80%;
      cursor: pointer;
      display: inline-block;
    }
    
    .fontlabel:hover{
      opacity: 60%;
    }
    
    html:has(#cursive:checked){
      font-family: "cursive";
    }
    
    html:has(#notosans:checked){
      font-family: "Noto Sans";
    }
    
    html:has(#serif:checked){
      font-family: "serif";
    }
    
    .svg-settings {
      height: 20px;
      z-index: 100;
      position: sticky;
      top: 0;
      height: 30px;
      text-align: center;
      float: center;
      order: -1;
      vertical-align: middle;
    }

    .dropdown__body {
      border: 1px solid var(--bgColor);
      display: none;
      width: 80vw;
      max-width: 400px;
      background: var(--bgColor);
      box-shadow: 1px 2px 10px 0px var(--mainColor);
      border-radius: 1rem;
      overflow: scroll;
      position: absolute;
      top: 13px;
      right: 3vw;
      height: 90vh;
      max-height: 440px;
    }

    .tab_class {
      opacity: 30%;
      background-color: var(--bgColor);
      position: sticky;
      top: 0;
      width: calc(100% / 3);
      height: 60px;
      line-height: 60px;
      font-size: 1rem;
      text-align: center;
      display: block;
      float: left;
      order: -1;
      z-index: 5;
    }

    .dropdown__btn {
      position: absolute;
      margin-left: auto;
      margin-right: 0px;
      z-index: 98;
      display: block;
      width: 30px;
      background: none;
      color: var(--mainColor);
      vertical-align: middle;
      border: 0;
      right: 0px;
      height: 42px;
      font-size: 2rem;
      opacity: 35%;
    }

    /* 最大アスペクト比 */
    @media (max-aspect-ratio: 2/3) {
      html {
        font-size: 4vw;
      }

      .svg-settings {
        height: 3rem;
        z-index: 100;
        position: sticky;
        top: 0;
        text-align: center;
        float: center;
        order: -1;
        vertical-align: middle;
      }

      .dropdown__body {
        display: none;
        width: 96vw;
        max-width: 10000px;
        border: 1px solid var(--bgColor);
        background: var(--bgColor);
        box-shadow: 1px 2px 10px 0px var(--mainColor);
        border-radius: 1rem;
        overflow: scroll;
        position: absolute;
        top: 1rem;
        right: 2vw;
        height: 90vh;
        max-height: calc(80vh - 50px);
        z-index: 97;
      }

      .tab_class {
        opacity: 30%;
        background-color: var(--bgColor);
        position: relative;
        top: calc(100svh - 5.5rem);
        width: calc(100vw / 3 - 0.3rem);
        align-content: center;
        height: 5rem;
        line-height: 5rem;
        vertical-align: middle;
        text-align: center;
        display: block;
        float: left;
        order: -1;
        z-index: 5;
        border: 0.1rem solid;
        margin: auto;
        border-radius: 1rem;
        padding: none;
      }

      .dropdown__btn {
        position: absolute;
        margin-left: auto;
        margin-right: 2vw;
        z-index: 98;
        display: block;
        background: none;
        color: var(--mainColor);
        vertical-align: middle;
        border: 0;
        right: 0.5rem;
        font-size: 3rem;
        opacity: 35%;
        top: 0.5rem;
      }

      .suma {
        display: none;
      }
    }

    /* 正確なアスペクト比。上書きを防ぐために最下部に配置 */
    /*   to here */
    .toggle-button {
      margin: 0.33rem;
      vertical-align: middle;
      display: inline-block;
      position: relative;
      width: 3.2rem;
      height: 1.6rem;
      border-radius: 1.6rem;
      background-color: #dddddd;
      cursor: pointer;
      transition: background-color 0.4s;
    }

    .toggle-button:has(:checked) {
      background-color: #4bd865;
    }

    .toggle-button::after {
      vertical-align: middle;
      position: absolute;
      top: 0;
      left: 0;
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      box-shadow: 0 0 5px rgb(9 9 9 / 20%);
      background-color: #fff;
      content: "";
      transition: left 0.4s;
    }

    .toggle-button:has(:checked)::after {
      left: 1.6rem;
    }

    .toggle-button input {
      display: none;
    }

    .yohaku {
      margin: 1rem;
    }

    .bargroup {
      margin: 0.8rem;
    }

    .dropdown {
      position: sticky;
      top: 10px;
      z-index: 66;
    }

    .dropdown__btn:hover {
      opacity: 100%;
    }

    .dropdown__btn.is-open::after {
      content: "";
      width: 100%;
      height: 100%;
      cursor: default;
      position: fixed;
      right: 0;
      z-index: 98;
    }

    .dropdown__btn.is-open+.dropdown__body {
      display: block;
      z-index: 99;
    }

    .dropdown__list {
      margin: 0;
      padding: 0;
      z-index: 99;
    }

    .dropdown__item {
      display: block;
    }

    li:hover {
      filter: brightness(100%);
    }

    li {
      list-style: none;
    }

    ul {
      padding-left: 0;
    }

    #card {
      margin: auto;
      width: 40vw;
      perspective: 0px;
      transform-style: preserve-3d;
      transition: transform 0s;
    }

    .card-front,
    .card-back {
      margin: auto;
      width: 40vw;
      position: absolute;
      backface-visibility: hidden;
      padding-top: 20px;
      text-align: center;
    }

    .card-front {
      transform: rotateY(180deg);
    }

    .mekuru {
      transform: rotateY(180deg);
    }

    .area>input:checked+label {
      font-weight: bold;
    }

    * {
      margin: 0;
      padding: 0;
      line-height: 1.3;
    }

    .inside {
      padding: 0 0px 0 0px;
      font-size: 0.8rem;
      color: var(--mainColor);
    }

    .area {
      width: 100vw;
      margin: auto;
      flex-wrap: wrap;
      display: flex;
      background-color: var(--bgColor);
    }

    .takami {
      height: 100svh;
      background-color: var(--bgColor);
    }

    .tab_class:hover {
      opacity: 100%;
    }

    input[name="tab_name"] {
      display: none;
    }

    .content_class {
      display: none;
      width: 100%;
    }

    input:checked+.tab_class+.content_class {
      display: block;
    }

    html {
      -webkit-text-size-adjust: none;
      text-size-adjust: none;
      font-family: "Noto Sans";
    }

    #buttons {
      text-align: center;
    }

    .button-sousyoku {
      color: var(--bgColor);
      background-color: var(--mainColor);
      padding: 0.5rem;
      margin: 0.2rem;
      border-radius: 1.4rem;
      font-size: 0.8rem;
       	font-family : inherit;
      border-color: var(--bgColor);
      border: none;
      opacity: 80%;
      cursor: pointer;
    }

    .button-sousyoku:hover {
      opacity: 60%;
    }

    .button-sousyoku-pa:hover {
      opacity: 60%;
    }

    .button-sousyoku-pa {
      background-color: var(--bgColor);
      padding: 0.3rem;
      margin: 0.1rem;
      border-radius: 2rem;
      border: 1px var(--mainColor) solid;
      opacity: 80%;
      cursor: pointer;
      width: 3rem;
       	font-family : inherit;
      height: 2rem;
    }

    .button-sousyoku:active {
      opacity: 100%;
    }

    .button-select {
      color: var(--mainColor);
       	font-family : inherit;
      background-color: var(--bgColor);
      border-color: var(--mainColor);
      padding: 0.6rem;
      border: 0.15rem solid;
      margin: 0.2rem;
      border-radius: 2rem;
      font-size: 1.2rem;
      opacity: 100%;
      box-shadow: none;
      width: 4rem;
      height: 4rem;
      text-align: center;
    }

    .button-select:disabled {
      opacity: 35%;
    }

    .tempo {
      background-color: var(--bgColor);
      color: var(--mainColor);
    }

    .timer-contents {
      font-size: 16vw;
      text-align: center;
      padding: 1rem;
      background-color: var(--bgColor);
    }

    .timer-contents-a {
      font-size: 8vw;
      text-align: center;
    }

    .timer-contents-b {
      font-size: 4vw;
      text-align: center;
      color: var(--mainColor);
      padding: 0.3rem;
      margin: 0.2rem;
    }

    .ranges {
      width: 100%;
      max-width: calc(100% - 7rem);
      height: 0.15rem;
      appearance: none;
      border-radius: 0.2rem;
      background-color: var(--mainColor);
      margin: 0.2rem;
    }

    .ranges::-webkit-slider-thumb {
      appearance: none;
      background-color: var(--mainColor);
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      vertical-align: middle;
    }

    .a-contents {
      border-bottom: 1px solid;
      border-color: var(--mainColor);
      color: var(--mainColor);
      background-color: var(--bgColor);
      border-radius: 0px;
      opacity: 100%;
      width: auto;
      font-size: 1rem;
    }

    .touhaba {
      font-family: 'Courier New', Consolas, monospace;
      font-size: 1rem;
      margin: 0.3rem;
    }

    .date-contents {
      font-size: 4vw;
      cursor: pointer;
    }

    .input-tag {
      vertical-align: middle;
      width: 2rem;
      color: var(--mainColor);
      background-color: var(--bgColor);
      border-radius: 1.5rem;
      height: 1rem;
      border: 1px solid;
      padding: 0.3rem;
      margin: 0.15rem;
      text-align: center;
      font-size: 1rem;
    }

    .svg-icon {
      width: 2rem;
      height: 2rem;
      padding: 0.3rem;
      margin: 0.3rem;
      vertical-align: middle;
      border: 1px solid;
      border-color: var(--mainColor);
      border-radius: 2rem;
      opacity: 100%;
    }

    .svg-icon:hover {
      opacity: 60%;
    }
